.info {
    margin: 20px auto;
    padding: 10px;
    width: 300px;
    height: fit-content;
    box-shadow: 10px 15px 20px #6f6f6f;
    border: 1px #696969 solid;
    border-radius: 5px;
}

.msrp, .monthly_payment {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    input {
        padding: 0 5px;
        width: 30%;
        border: 1px solid #00000000;
        border-radius: 5px;
        font-size: 1.2rem;
        background-color: #bdbdbd;
        transition: 0.2s;
        cursor: default;
    }
}

.car {
    font-size: 1.2rem;
}

.dealer {
    margin: 5px 0;
    padding: 5px;
    border: 5px #dedede inset;
    border-radius: 10px;
    font-size: 1.2rem;
    span {
        display: block;
    }
    &--phone:before{
        content: '\1f4f1';
        margin-right: 5px;
    }
    &--rating:before{
        content: '\2605\2605\2605\2605\2605';
    }
}