.tab--title {
    width: 50%;
    padding: 5px;
    font-size: 2rem;
    background-color: #00000020;
    transition: 0.2s;
    cursor: pointer;
    &:hover {
        background-color: #00000050;
        transition: 0.2s;
    }
    &:nth-child(1){
        border-top-left-radius: 4px;
    }
    &:nth-child(2){
        border-top-right-radius: 4px;
    }
}

.tab--title-active{
    background-color: blue;
    &:hover {
        background-color: blue;
    }
}