.tab {
    width: 50%;
    padding: 5px;
    font-size: 2rem;
    transition: 0.2s;
    border: 2px #00000000 solid;
    cursor: pointer;
    &:hover {
        background-color: #00000050;
        border: 2px #000000 solid;
        transition: 0.2s;
    }
}